# ------------------------------------------------------------
# Stellae Core
# ------------------------------------------------------------

DATABASE_URL=

STELLAE_CORE_HOST=127.0.0.1
STELLAE_CORE_PORT=3000
STELLAE_CORE_URL=http://stellae-core:3000


# ------------------------------------------------------------
# Discord
# ------------------------------------------------------------

DISCORD_GUILD_ID=

DISCORD_INTENDANT_APPLICATION_ID=
DISCORD_INTENDANT_TOKEN=

DISCORD_LUDICRUM_APPLICATION_ID=
DISCORD_LUDICRUM_TOKEN=

DISCORD_ARCHIVUM_APPLICATION_ID=
DISCORD_ARCHIVUM_TOKEN=

DISCORD_ARTIFICIUM_APPLICATION_ID=
DISCORD_ARTIFICIUM_TOKEN=


# ------------------------------------------------------------
# Frosthold
# ------------------------------------------------------------

FROSTHOLD_URL=
FROSTHOLD_LUDICRUM_TOKEN=